body{
    background-color: rgb(255, 255, 255);
  }
  nav {
      background-color: #f0f0f0;
      padding: 10px;
    }
  
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    nav ul li {
      position: relative;
      margin-right: 20px;
    }
    
    nav ul li a {
      display: block;
      padding: 10px;
      color: #333;
      text-decoration: none;
    }
    
  
    
    nav ul ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      display: none;
    }
    
    nav ul li:hover > ul {
      display: block;
    }
    
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  .wrapper {
    text-align: center;
    background-image: linear-gradient(#ccc, #fff);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex {
    display: inline-flex;
    padding: 30px 10px;
  }
  
  .cart {
    width: 180px;
    background-color: transparent;
    border: 1px solid transparent;
    transition: 0.1s ease-in;
  }
  .cart:hover {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #fff;
  }
  
  .cart:not(:first-child) {
    margin-left: 20px;
  }
  
  img {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
  }
  
  .description {
    font-size: 14px;
    text-align: left;
    width: 90%;
    margin: 20px auto;
  }
  
  .price {
    margin: 20px auto;
    transition: color 0.1s ease-in;
  }
  
  .cart:hover .price {
    color: #000000;
    font-weight: 700;
  }
  
  .button {
    margin: 20px auto;
  }
  
  .button button {
    border: none;
    outline: none;
    display: inline-block;
    padding: 10px 20px;
    background: #000000;
    border-radius: 30px;
    transition: scale 0.1s ease-in;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover button {
    transform: scale(1.1);
    background-color: #d31cc4;
  }
