body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #000;
}
nav {
  background-color: #e77474;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}
.controls {
  width: 120px;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 10px;
  background: #D9D9D9;
  transition: all .5s ease;
  float: left;
  margin: 10px;
  height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-family: Arial;
}
.ban {
  width: 1030px;

  background: #ffffff;
  transition: all .5s ease;
  float: right;
  position: relative;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-family: Arial;
}
nav ul li {
  position: relative;
  margin-right: 10px;
  
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
 
nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: #fff;
  border: 1px solid #000000;
  display: none;
  z-index: 2;
}

nav ul li:hover > ul {
  display: block;
  position: absolute;
}
a{
color:#000000
}
.flex {
  display: inline-flex;
  padding: 5px 5px;
}
.box {
  display: block;
}
.box.-close {
  display: none;
}
.filter-range {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  height: 10%;
}
.filter-range .noUi-horizontal {
  position: relative;
  width: 200px;
  height: 10px;
  background: #d31cc4;
  margin: 10px;
}

.filter-range .noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  left: -10px;
  top: -4px;
  background-color: #000;
}
.wrapper{
  text-align: center;
  background: #f0f0f0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.cart-btn {
  display: flex;
  justify-content: flex-end;
  margin-left: 1000px;
}
.cart-quantity {
  color: rgb(0, 0, 0);
  padding: .2em .3em;
  margin: .8em .5em 0 0;
  right: 0;
  border-radius: 15px;
  font-weight: bolder;
}
#cart {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0.3em 0em 0 0;
}
.flex {
  display: inline-flex;
  padding: 10px 10px;
}

.box {
  height: 280px;
  width: 200px;
  border: 1px solid transparent;
  transition: 0.1s ease-in;
  position: relative;
  overflow: hidden; 
  text-align: center;
  z-index: 1;
}

.box:hover {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px #f700ff;
}

.product-image{
  display: inline-block;
  max-width: 150px;
  max-height: 110px;
  object-fit: cover;
}
.description {
  font-size: 1rem;
  text-align: left;
  display: block;
}
.product-price {
  margin: 1px auto;
  transition: color 0.1s ease-in;
  display: block;
  font-size: 1.4rem;
}
.box:hover .product-price {
  color: #000000;
  font-weight: 700;
}
.box:hover .add-to-cart {
  transform: translateX(0);
}
.add-to-cart {
  font-size: 1rem;
  background-color: #d31cc4;
  color: white;
  border-radius: 20px;
  padding: 0.6em 1em;
  margin: 2% auto;
  transform: translateY(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;;
}
.cart-modal-overlay {
  position: absolute;
  width: 100%;
  height:50%;
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100%;
  width: 50%;
  background-color: #00000083;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 12.5%;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  color: white;
  cursor: pointer;
}
.product-rows {
  margin-top: 1em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.total {
  text-align: center;
  margin: 1em 0 2em 0;
/*   display: none; */
}


.total-price {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  display: block;
  font-size: 1rem;
}

.purchase-btn {
  font-size: 1rem;
  background-color: #d31cc4;
  color: white;
  border-radius: 20px;
  padding: 0.6em 1em;
}


.product-row {
  display: flex;
  align-items: center;
}
.cart-total {
  color: white;
  font-size: 1rem;
}
.cart-image {
  width: 7rem;
  margin: 2em;
}
.product-quantity {
  height: 1.4rem;
  width: 4rem;
  font-size: 1.4rem;
  margin-left: 3rem;
}

.remove-btn {
  font-size: 1rem;
  background-color: #d31cc4;
  color: white;
  border-radius: 20px;
  padding: 0.6em 1em;
  margin-left:  2em;
}

.remove-btn:active {
  transform: translateY(5px);
}
.trash{
  height: 24px;
}
