* {
	font-family: 'Nunito', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	transition: all .2s linear;
}

body {
	margin: 0;
	font-size: medium;
	font-family: 'Raleway', 'Lato', sans-serif;
}

nav {
	transition: all .3s ease;
	background: #000000;
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: lighter;
}

nav .menu {
	display: flex;
	justify-content: space-between;
}


nav a {
	padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   width: 500px;
   overflow: hidden;
}
.menu2 ul{
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 44px;
   text-decoration: none;
}
.menu2 ul li a.menu-item{
   transform: scale(1);
   transition: 0.5s;
   display: block;
}
.menu2 ul li a.menu-item.hide-item{
   transform: scale(0);
}
.menu2 ul li:nth-child(2) a.menu-item.hide-item{
   transition-delay: 0.6s;
}
.menu2 ul li:nth-child(3) a.menu-item.hide-item{
   transition-delay: 0.5s;
}
.menu2 ul li:nth-child(4) a.menu-item.hide-item{
   transition-delay: 0.4s;
}
.menu2 ul li:nth-child(5) a.menu-item.hide-item{
   transition-delay: 0.3s;
}
.menu2 ul li:nth-child(6) a.menu-item.hide-item{
   transition-delay: 0.2s;
}
.menu2 ul li:nth-child(7) a.menu-item.hide-item{
   transition-delay: 0.1s;
}
.menu2 ul li:nth-child(8) a.menu-item.hide-item{
   transition-delay: 0s;
}


.menu2 ul li:nth-child(2) a.menu-item{
   transition-delay: 0s;
}
.menu2 ul li:nth-child(3) a.menu-item{
   transition-delay: 0.1s;
}
.menu2 ul li:nth-child(4) a.menu-item{
   transition-delay: 0.2s;
}
.menu2 ul li:nth-child(5) a.menu-item{
   transition-delay: 0.3s;
}
.menu2 ul li:nth-child(6) a.menu-item{
   transition-delay: 0.4s;
}
.menu2 ul li:nth-child(7) a.menu-item{
   transition-delay: 0.5s;
}
.menu2 ul li:nth-child(8) a.menu-item{
   transition-delay: 0.6s;
}
.search-form{
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(0);
   width: auto;
   height: 44px;
   opacity: 0;
   visibility: hidden;
   transition: 0.5s;
}
.search-form.active{
   opacity: 1;
   visibility: visible;
   transition-delay: 0.5s;
   transform: translateX(-50%);
}
.search-form input{
   width: 100%;
   height: 44px;
   background: transparent;
   color: #fff;
   border: none;
   outline: none;
   font-size: 16px;
}
.search-form input::placeholder{
   color: #fff;
}
.search-form:before{
   content: '\f002';
   position: absolute;
   top: 12px;
   left: -26px;
   font-size: 18px;
   color: #fff;
   font-family: fontAwesome;
}
.close{
   position: absolute;
   right: 0;
   top: 0;
   padding: auto;
   color: #fff;
   font-size: 18px;
   text-align: right;
   width: 20px;
   cursor: pointer;
   visibility: hidden;
   opacity: 0;
   margin: -5px auto;
}
.close.active{
   opacity: 1;
   visibility: visible;
}

 .container{
	max-width: 1200px;
	margin:0 auto;
	padding:1rem 2rem;
 }

 
 .container .products-container{
	display: inline-flex;
	padding: 10px 100px;
 }
 
 .container .products-container .product{
	height: auto;
	width: 200px;
	border: 1px solid transparent;
	transition: 0.1s ease-in;
	position: relative;
	overflow: hidden; 
	text-align: center;
	z-index: 1;
 }
 
 .container .products-container .product:hover{
	outline: .1rem solid #000000;
	border-radius: 10%;
	outline-offset: 0;
 }
 .products-preview{
	position: fixed;
	top:0; left:0;
	min-height: 100vh;
	width: 100%;
	background: rgba(0,0,0,.8);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 2;
 }
 
 .products-preview .preview{
	display: none;
	padding:2rem;
	text-align: center;
	background: #fff;
	position: relative;
	margin:2rem;
	width: auto;
 }
 
 .products-preview .preview.active{
	display: inline-block;
 }
 
 
 .products-preview .preview .fa-times{
	position: absolute;
	top:1rem; right:1.5rem;
	cursor: pointer;
	color:#000000;
	font-size: 1.5rem;
 }
 
 .products-preview .preview .fa-times:hover{
	transform: rotate(90deg);
 }
  .menu .cart-btn {
	display: flex;
	justify-content: flex-end;
  }
  .cart-quantity { 
	color: rgb(255, 255, 255);
	padding: .2em .3em;
	margin: .8em .5em 0 0;
	right: 0;
	border-radius: 15px;
	font-weight: bolder;
  }
  #cart {
	position: relative;
	font-size: 1.0rem;
	cursor: pointer;
	margin: 0.3em 0em 0 0;
  }
  .size{
	height: 1.4rem;
	font-size: 1rem;
	margin: 2px;
	width: 10%;
  }
  .product-image{
	display: inline-block;
	max-width: 150px;
	max-height: 150px;
	object-fit: cover;
  }
  .description {
	font-size: 1rem;
	text-align: center;
	display: block;
  }
  .product-price {
	margin: 1px auto;
	transition: color 0.1s ease-in;
	display: block;
	font-size: 1.4rem;
  }
 
  .add-to-cart {
	font-size: 1rem;
	background-color: #000000;
	color: white;
	border-radius: 20px;
	padding: 0.6em 1em;
	margin: 2% auto;
	transition: .5s ease;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bolder;
  }
  .cart-modal-overlay {
	position: absolute;
	width: 100%;
	height:50%;
	z-index: 2;
	transform: translateX(-200%);
	transition: .5s ease-out;
	
  }
  
  .cart-modal {
	height: 100%;
	width: 50%;
	background-color: #6f6f6f;
	overflow: scroll;
	overflow-x: hidden;
	outline: .1rem solid #f700ff;;
  }
  
  #close-btn {
	font-size: 1.5rem;
	float: right;
	color: white;
	cursor: pointer;
	padding: 10px;
  }
  .product-rows {
	margin-top: 1em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-size: 1.5rem;
  }
  
  .total {
	text-align: center;
	margin: 1em 0 2em 0;
	font-size: 1.5rem;
  /*   display: none; */
  }
  
  
  .total-price {
	color: rgb(255, 255, 255);
	font-size: 1rem;
	display: block;
  }
  
  .purchase-btn {
	font-size: 0.8rem;
	background-color: #d31cc4;
	color: white;
	border-radius: 20px;
	padding: 0.6em 1em;
  }
  
  
  .product-row {
	display: flex;
	align-items: center;
  }
  .cart-total {
	color: white;
	font-size: 1rem;
  }
  .cart-image {
	width: 7rem;
	margin: 2em;
  }
  .product-quantity {
	height: 1.4rem;
	width: 4rem;
	font-size: 1.4rem;
	margin-left: 3rem;
  }
  
  .remove-btn {
	font-size: 1rem;
	background-color: #d31cc4;
	color: white;
	border-radius: 20px;
	padding: 0.6em 1em;
	margin-left:  2em;
  }
  
  .remove-btn:active {
	transform: translateY(5px);
  }
  .trash{
	height: 24px;
  }
 .box {
   display: block;
 }
 .product.-close {
   display: none;
 }
 .filter-range {
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	width: 100px;
	height: 5px;
	font-size: 12px;
	margin: 10px;
  }
  .filter-range .noUi-horizontal {
	width: 100%;
	height: 10px;
  }
  .filter-range .noUi-horizontal .noUi-handle {
	width: 15px;
	height: 11px;
  margin: 5px 10px;
  }
  .filter-range .noUi-handle::after, .noUi-handle::before {
	display: none;
  }
 .filter-range .noUi-connect {
	 background:#000000;
	 border-radius:4px;
	 box-shadow:inset 0 0 3px rgba(51,51,51,.45);
	 -webkit-transition:background 450ms;
	 transition:background 450ms
	}
.back{
	font-size: 1rem;
	background-color: #000000;
	color: white;
margin: 10px;
	transition: .5s ease;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bolder;
}
.show-modal {
	font-size: 1rem;
	background-color: #000000;
	color: white;
	border-radius: 20px;
	padding: 0.6em 1em;
	margin: 2% auto;
	transition: .5s ease;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bolder;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
}
.close-modal:hover{
  transform: rotate(90deg);
}

h1,h3 {
  font-size: 2.0rem;
  margin-bottom: 2rem;
  color: #fff;
}


.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
text-align: center;
  background-color: #000000;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.dost{
	background-color: #000000;
	color: #fff;
	outline: none;
  padding: 0px 10px;
  margin-top: 6px;
  width: 100%;
  height: 37px;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  }
