
.wrapper {
    background-image: #000000;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .f {
    max-width: 500px;
    margin: 300px auto;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  * {
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
  }
  
  body {
    margin: 0;
    font-size: medium;
    font-family: 'Raleway', 'Lato', sans-serif;
  }
  
  nav {
    transition: all .3s ease;
    background: #000000;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
  }
  
  nav a {
    padding: 15px;
  }
  .menu2{
     position: relative;
     margin: 0 auto;
     overflow: hidden;
  }
  .menu2 ul li{
     list-style: none;
  }
  .menu2 ul li,
  .menu2 ul li a{
     color: #fff;
     line-height: 44px;
     text-decoration: none;
  }

  .header {
    border-bottom: 1px solid #acacac;
margin: 10px 0 20px;
padding-bottom: 9px;
  }

  h3{
    font-size: 20px;
    margin-bottom: 10px
  }

  p{
    margin-bottom: 10px
  }
.back{
  	font-size: 1rem;
	background-color: #000000;
	color: white;

	transition: .5s ease;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bolder;
}