body{
  background-color: rgb(255, 255, 255);
}
nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  .h{
position: relative;
  }
  .hahah{
    margin-top: 10px;
    padding: 100%;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    position: relative;
    margin-right: 20px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  nav ul li:hover > ul {
    display: flex;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    flex-direction: column;
  }
  
  nav ul ul li {
    width: 200px;
  }
  
  nav ul ul li a {
    padding: 5px 10px;
  }
  
  nav ul ul ul {
    left: 100%;
    top: 0;
  }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  text-align: center;
  background-image: linear-gradient(#ccc, #fff);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

