nav {
  transition: all .3s ease;
  background: #000000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav a {
  padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 20px;
   text-decoration: none;
}
.back{
  font-size: 1rem;
background-color: #000000;
color: white;
margin: 10px;
transition: .5s ease;
outline: none;
border: none;
cursor: pointer;
font-weight: bolder;
margin-left: -20px;
}
.pointer{
  cursor:pointer;
}
.accordian-link h3{
  font-size:clamp(18px,2vw,30px);
}
.user_image{
  width:50px;
  height:50px;
  object-fit:contain;
  background:#00000030;
  border-radius:50%;
  padding:.20rem;
}
.review_answer{
  max-height:150px;
  overflow-y:auto;
}
/*scrollbar width */
.review_answer::-webkit-scrollbar {
  width: 10px;
}

/*scrollbar Track */
.review_answer::-webkit-scrollbar-track {
  background: rgb(189, 190, 189);
  border-radius: 8px;
}

.review_answer::-webkit-scrollbar-thumb {
  background-color: green;
  outline: 1px solid darkgreen;
  border-radius: 8px;
}
.send{
  font-size: 1rem;
	background-color: #000000;
	color: white;
	border-radius: 20px;
	padding: 0.6em 1em;
	margin: 2% auto;
	transition: .5s ease;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bolder;
}
