* {
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
}

body {
  margin: 0;
  font-size: medium;
}

nav {
  transition: all .3s ease;
  background: #000000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav a {
  padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 24px;
   text-decoration: none;
}

nav ul li:hover > ul {
  display: block;
}
.back{
  font-size: 1rem;
background-color: #000000;
color: white;
margin: 10px;
transition: .5s ease;
outline: none;
border: none;
cursor: pointer;
font-weight: bolder;
}

/* Стили для формы */
.f {
  max-width: 500px;
  margin: 300px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.wrapper {
  text-align: center;
  background: #ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.wrapper p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: #e6e6e6;
}
input[type="text"]{
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.send {
  margin: 10px 10px;
}
.send {
  border: none;
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  background: #000000;
  border-radius: 30px;
  transition: scale 0.1s ease-in;
  color: #fff;
  cursor: pointer;
}

.send:hover {
  transform: scale(1.1);
  background-color: #d31cc4;
}

.send a {
  color: #fff;
  text-decoration: none;
}

/* Стили для описания пароля */
.container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 4px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
