* {
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
}

nav {
  transition: all .3s ease;
  background: #000000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav a {
  padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 24px;
   text-decoration: none;
}

nav ul li:hover > ul {
  display: block;
}
.back{
  font-size: 1rem;
background-color: #000000;
color: white;
margin: 10px;
transition: .5s ease;
outline: none;
border: none;
cursor: pointer;
font-weight: bolder;
}


.wrapper {
  text-align: center;
  background: #fff;
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
}

a.redact{
  font-size: 1rem;
	background-color: #000000;
	color: white;
	border-radius: 20px;
	padding: 0.6em 1em;
	margin: 2% auto;
	transition: .5s ease;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bolder;
  text-decoration: none;
  display: block;
  width: 20%;
}