@charset "UTF-8";
* {
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
}
body {
  margin: 0;
  font-size: medium;
}

nav {
  transition: all .3s ease;
  background: #000000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav a {
  padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 44px;
   text-decoration: none;
}
.avatar-wrapper {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  margin-left: 7%;
  border: 2px solid #22272d;
}
.avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper:hover .profile-pic {
  opacity: 0.5;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after {
  content: "ï€‡";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}
.avatar-wrapper .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}
.avatar-wrapper .upload-button:hover  {
  opacity: 0.9;
}

 .wrapper {
  width: 300px;
margin-left: 40%;
margin-top: 10%;
text-align: center;
}
input:focus {
  outline:none;
  }
input {
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #22272d;
  color: #000000;
  width: 100%;
  padding: 5px;
  height: 30px;
  margin-top: 2%;
  border-radius: 10px;
}
input[type="submit"] {
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #22272d;
  color: #000000;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin-top: 2%;
  border-radius: 10px;
}
.back{
  font-size: 1rem;
	background-color: #000000;
	color: white;
	border-radius: 20px;
	padding: 0.1em 0.4em;
	transition: .5s ease;
	outline: none;
	border: none;
	font-weight: bolder;;
}