@charset "UTF-8";
* {
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
}
body {
  margin: 0;
  font-size: medium;
}

nav {
  transition: all .3s ease;
  background: #000000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav a {
  padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 44px;
   text-decoration: none;
}
 .wrapper {
  width: 300px;
margin-left: 40%;
text-align: center;
}
input:focus {
  outline:none;
  }
input {
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #22272d;
  color: #000000;
  width: 100%;
  padding: 5px;
  height: 30px;
  margin-top: 2%;
  border-radius: 10px;
}
input[type="submit"] {
  background: transparent;
  background-color: #e6cb3300;
  border: 2px solid #22272d;
  color: #000000;
  width: 100%;
  padding: 5px;
  height: 40px;
  margin-top: 2%;
  border-radius: 10px;
}
.back{
  font-size: 1rem;
	background-color: #000000;
	color: white;
	border-radius: 20px;
	padding: 0.1em 0.4em;
	transition: .5s ease;
	outline: none;
	border: none;
	font-weight: bolder;;
}
.rounded-circle{
  width: 250px;
  height: 250px;
}