body{
    background-color: rgb(255, 255, 255);
}
.wrapper{
  margin-top: 10%;
}
textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px; /* задаем минимальную высоту textarea */
  }
.rounded-circle {
    width: 250px;
    height: 250px;
  }
  input[type="submit"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  .wrapper{
    margin-left: 50%;
  }
  input {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  textarea[type="text"]{
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
  }
  label{
    color: #000000;
  }
  .right-part{
    margin-top: 10%;
  }
  .left-part{
    margin-top: 13%;
  }

