/* Стили для всего документа */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
nav {
  background-color: #f0f0f0;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

nav ul li:hover > ul {
  display: flex;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  flex-direction: column;
}

nav ul ul li {
  width: 200px;
}

nav ul ul li a {
  padding: 5px 10px;
}

nav ul ul ul {
  left: 100%;
  top: 0;
}

/* Стили для формы */
.f {
  max-width: 500px;
  margin: 300px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.wrapper {
  text-align: center;
  background: #ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: #e6e6e6;
}

button {
  margin: 10px 10px;
}
button {
  border: none;
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  background: #000000;
  border-radius: 30px;
  transition: scale 0.1s ease-in;
  color: #fff;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: #d31cc4;
}

button a {
  color: #fff;
  text-decoration: none;
}

/* Стили для описания пароля */
.container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 4px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
