* {
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .2s linear;
}

body {
  margin: 0;
  font-size: medium;
  font-family: 'Raleway', 'Lato', sans-serif;
}

nav {
  transition: all .3s ease;
  background: #000000;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

nav a {
  padding: 15px;
}
.menu2{
   position: relative;
   margin: 0 auto;
   overflow: hidden;
}
.menu2 ul li{
   list-style: none;
}
.menu2 ul li,
.menu2 ul li a{
   color: #fff;
   line-height: 24px;
   text-decoration: none;
}

.header {
  border-bottom: 1px solid #acacac;
margin: 10px 0 20px;
padding-bottom: 9px;
}

h3{
  margin-bottom: 10px
}

p{
  margin-bottom: 10px
}
.back{
  font-size: 1rem;
background-color: #000000;
color: white;
margin: 10px;
transition: .5s ease;
outline: none;
border: none;
cursor: pointer;
font-weight: bolder;
}
.wrapper{
  margin-top: 10%;
}
textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px; /* задаем минимальную высоту textarea */
  }
.rounded-circle {
    width: 250px;
    height: 250px;
  }
  input[type="submit"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  .wrapper{
    margin-left: 50%;
  }
  input[type="text"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  input[type="date"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  textarea[type="text"]{
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 105%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
  }
  label{
    color: #000000;
  }
  .right-part{
    margin-top: 10%;
  }
  .left-part{
    margin-top: 13%;
  }

