body{
  background-color: rgb(255, 255, 255);
}
nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  .h{
position: relative;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    position: relative;
    margin-right: 20px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  nav ul li:hover > ul {
    display: flex;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    flex-direction: column;
  }
  
  nav ul ul li {
    width: 200px;
  }
  
  nav ul ul li a {
    padding: 5px 10px;
  }
  
  nav ul ul ul {
    left: 100%;
    top: 0;
  }
  
.wrapper{
  text-align: center;
  background-image: linear-gradient(#ccc, #fff);
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px; /* задаем минимальную высоту textarea */
  }
.rounded-circle {
    width: 250px;
    height: 250px;
  }
  input[type="submit"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 50%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    margin-right: 100ex;
    outline: none;
  }
  input[type="text"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 50%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  input[type="date"] {
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 50%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
    outline: none;
  }
  textarea[type="text"]{
    background: transparent;
    background-color: #e6cb3300;
    border: 2px solid #22272d;
    color: #000000;
    width: 50%;
    padding: 5px;
    height: 40px;
    margin-top: 2%;
  }
  label{
    color: #000000;
    margin-right: 100ex;
  }
  .right-part{
    margin-top: 10%;
  }
  .left-part{
    margin-top: 9%;
  }
  A{
    color:#000000;
  }
